---
# Main page
---
<!DOCTYPE html>
<html>
<head>
<title>Pentyrch Chess</title>
  <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
  <link rel="SHORTCUT ICON" href="/favicon.ico"/>
  <link rel="ICON" type="image/vnd.microsoft.icon" href="/favicon.ico"/>    
  <link rel="stylesheet" href="/assets/css/styles.css">
</head>
<body style="margin:0px;">
  {% include header.html %}
<br>
<div id="main-content">
    <div class="welcome"> 
      <div class="welcome-item">
          <h4> Club Night </h4> 
        <image src="/photos/misc/clubnight.png" style="float:right;" /> Mondays 7.30pm<br/> 
        <br/>
        Kings Arms<br/>
        Church Road<br/>
        Pentyrch<br/>
        Cardiff<br/>
        CF15 9QF<br/> <a href="http://maps.google.co.uk/maps?hl=en&ie=UTF8&ll=51.528163,-3.292484&spn=0,0.00284&t=h&z=19&layer=c&cbll=51.528163,-3.292484&panoid=tsHFTH7Ra2hx9XGdYFnTWQ&cbp=13,174.46,,0,-2.39" target="fred"> 
        Street view (Click "X", top right corner of photograph, for road map) 
        </a><br/> <br/>
        Tel: 029 2089 0202 
      </div>
      <div class="welcome-item"> 
        <h4> Contact </h4>
        <p>Club Secretary: Gwawr Evans<br/>
          Tel:07909 524693<br/>
          <a href="mailto:gwawrevans@gmail.com">gwawrevans@gmail.com</a>
        </p>
        <p>&nbsp;</p>
		    <p><a href="/phonenumbers.html">Members' Contact Tel. Nos.</a></p>
      </div>
      <div class="welcome-item">
        <h4> News and Announcements </h4> 
        <p><a href="/tributes/geof-tyrrell.html">Tribute to Geof Tyrrell </a></p>
        <p><strong>Rules</strong> - important changes. Access from <strong>'Updates'</strong>.</p>
        <p><strong>Club Grades etc.</strong> - on Live Rating Centre website. Access from <strong>'Links'</strong>.</p>
        <p><a href="http://www.michaeljmeadows.com/chess/">Downend & Fishponds Chess Club</a></p>
        <p><a href="http://www.chessit.co.uk/">Bristol & District Chess League</a></p>
		    <p><strong>Downend &amp; Fishponds</strong> - Sat Nav coordinates plus photo in <strong>'Links'</strong></p>
        <p>&nbsp;</p></div>
      <div class="welcome-item advert"> 
          <h4> ADVERTS/LINKS </h4>        
        <a href="http://www.regencychess.co.uk/tournament-chess-supplies-c-59.html">Regency Chess Sets</a> <!-- Regency Chess Advert -->
      </div>
    </div>
  <p> <strong>New members welcome. Annual Fee only &pound;20.</strong></p>
  <p> <strong>Website updated 23 May 19 - Stauntons (Round 18), Gambits (Round 
    18) </strong></p>


  <h2> FIXTURES 2019 - 20 (Ordered on date)</h2>
    <div class="team-info-container">
        <div class="team-info">
            <h4>PENTYRCH Amateurs</h4>
            TEAM CAPTAIN: Mike Maguire<br>
            tel: 01443 202561 / 07963 965910 (mob)<br>
            e-mail: maguireathome@gmail.com
          </div>  
          <div class="team-info">
            <h4>Brig&#226;d PENTYRCH</h4>     
            CAPTEN T&#206;M: Gwawr Evans <br>
            tel: 07909 524693;<br>
            e-bost: gwawrevans@gmail.com
          </div> 
          <div class="team-info">
            <h4>PENTYRCH Cardinals</h4>    
            TEAM CAPTAIN: Matthew Lunnon<br>
            tel: 029 2089 9659 / 07837 988103 (mob)<br>
            e-mail: matthew.lunnon@hotmail.com  
          </div>   
    </div>
    {% include fixtures-table.html %}

</div> 

</body>
</html>
