<div id="archive-banner">
	Chess Archives - <a href="/"> click here to return to Pentyrch Chess </a>
	<hr>
	<div style="width:80%;margin:0 auto 0 auto;">
		<ul class="navigation">
			<li><a class="active" href="/chess-archives/welsh-chess-union.html">Welsh Chess Union Photo (1955)</a></li>
			<li><a class="active" href="/chess-archives/monmouthshire-chess-association.html">Newspaper Article Monmouthshire Chess Association</a></li>
			<li><a class="active" href="/chess-archives/arthur-griffiths.html">Arthur Griffiths - Wales's First Chess Champion</a></li>
		</ul>
	</div>
</div>