<div id="branding" style="background-image:url('/assets/images/header_bg.png'); padding:0px;">
  <img src="/assets/images/header.png">
</div>

<div id="access">
  <div class="menu"> 
    <ul>
      {% for L1 in site.data.menu-items %}
      <li> 
        {% for L1-item in L1 %}
          {% if forloop.index == 1 %}
          <a href="{{ L1-item[1] }}">{{ L1-item[0]}}</a>
          {% endif %}

          {% if forloop.index == 2 %}
            <ul>
                {% for L2 in L1-item[1] %}
                  {% for L2-item in L2 %}
                  <a href="{{ L2-item[1] }}">{{ L2-item[0]}}</a>
                  {% endfor %}
                {% endfor%}
            </ul>
          {% endif %}
        {% endfor %}
      </li>
      {% endfor %}
    </ul>

  </div>
</div>
